<div class="container mt-5">

    <div class="container-fluid">
        <!-- <div class="logo"><a href="/"><img src="/media/images/logo.png"></a></div> -->
        <div class="logo">
            <row style="display: inline-flex;">
                <div class="col-md-3" style="
                position: absolute;
                left: 0px;
            " >    
                    {% if request.user.is_authenticated %}
                    <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
                      <a class="btn btn-info" href="{% url 'add_blog' %}">Add Blogs</a>
                    </li>
                    {% endif %}
                </div>
                <div class="col-md-6">
                  <a class="navbar-brand py-1" href="/">
                    <h3 style="color: black !important;">Your Personal Blog</h3>
                  </a>
                </div>
                <div class="col-md-3" style="
                position: absolute;
                right: 0px;
            " >
                  <div class="" id="">
        
                    <ul class="navbar-nav ml-auto">
                      
                      {% if request.user.is_authenticated %}
                      <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
                        <a class="btn btn-danger" href="{% url 'logout_view' %}">Logout</a>
                      </li>
        
                      {% else %}
                      <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
                        <a class="btn btn-primary" href="{% url 'login_view' %}">Add Blog</a>
                      </li>
        
                      {% endif %}
        
                    </ul>
                  </div>
              </div>
              </row>
        </div>
        
     </div>
     <center><a href="{% url 'see_blog' %}" class="btn btn-warning">View Your blogs</a>
     </center>
    
    <form method="post" class="mt-5 pt-5 mb-5 pb-5"
          enctype="multipart/form-data" action="{% url 'add_blog' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <label>Enter blog title</label>
                <input type="text" class="form-control" placeholder="Enter title" name="title">
            </div>

            <div class="col-md-12">
                {{form.media}}
                {{form.as_p}}
            </div>

            <div class="col-md-12">
                <input type="file" name="image" class="form-control" >
            </div>

        </div>

        <button type="submit" class="btn btn-primary mt-4">Create Blog</button>

    </form>

</div>