{% extends 'blog/base.html' %}
{% block content %}
<div class="container mt-5">
   <form method="post" class="mt-5 pt-5 mb-5 pb-5" enctype="multipart/form-data" action="{% url 'edit_blog' blog.id %}">
      {% csrf_token %}
      <div class="row">
         <div class="col-md-12">
            <label>Enter blog title</label>
            <input type="text" class="form-control" placeholder="Enter title" name="title" value="{{blog.title}}">
         </div>

         <div class="col-md-12">
            <label>Enter blog tags</label>
            <input type="text" class="form-control" placeholder="Enter tags" name="tags" value="{{blog.tags}}">
         </div>

         <div class="col-md-12">
            <label>Enter blog description</label>
            <textarea class="form-control" placeholder="Enter description"
               name="description">{{blog.content}}</textarea>
         </div>

         <div class="col-md-12">
            {{form.media}}
            {{form.as_p}}
         </div>

         <div class="col-md-12">
            <input type="file" name="image" class="form-control">
         </div>

      </div>

      <button type="submit" class="btn btn-primary mt-4">Edit Blog</button>

   </form>

</div>

</html>

<script>
   //document ready function
   $(document).ready(function () {
      console.log("ready!");
      $.ajax({
         url: "{% url 'getLatestPosts' %}",
         type: "GET",
         dataType: "json",
         success: function (data) {
            console.log(data);
            console.log(data.posts[0].title);

            $('.banner_taital').removeClass('placeholder-glow placeholder');
            $('.banner_taital').text(data.posts[0].title);

            $('.banner_text').removeClass('placeholder-glow placeholder');
            var content = data.posts[0].content;
            if (content.length > 150) {
               content = content.substring(0, 150) + '...';
            }
            $('.banner_text').text(content);
            $('.read_bt').html('<a href="/see_blogs/' + data.posts[0].id + '">Read More</a>');


         }
      })
   });
</script>

{% endblock %}